@model CategoryFormModel

<div class="container">

    <form asp-controller="Category" asp-action="Create" method="post" asp-route-id="@Model.Category.Id">
        @Html.AntiForgeryToken() @*CSRF*@

        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Category.Name" class="d-block w-100" />
            <span asp-validation-for="Category.Name" class="text-danger"></span> @*qui andrà il messaggio di errore della validazione*@
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Category.Description" class="d-block w-100" />
            <span asp-validation-for="Category.Description" class="text-danger"></span>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-small btn-info">Aggiungi</button>
        </div>

    </form>

</div>