@model List<Photo>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="photos">

    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/API/Index.js"></script>
}