@*<HOME*@

<div class="container">

    @*lista foto*@
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="photos"></div>


    @*form messaggio*@
    <h3 class="mt-5">Invia un messaggio</h3>

    <div class="">
            <div class="mb-3">
                <input type="text" id="subject" placeholder="Oggetto" class="form-control"/>
                <span id="subject_validation" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <textarea id="content" rows="5" placeholder="Contenuto" class="form-control"></textarea>
                <span id="content_validation" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="email" id="email" placeholder="Email" class="form-control"/>
                <span id="email_validation" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary" onclick="createMessage()">Invia</button>
    </div>

</div>

@*richiamo i file js*@
@section Scripts { <script type="text/javascript" src="~/js/API/Index.js"></script> <script type="text/javascript" src="~/js/API/CreateMessage.js"></script>}

<style>
    p{
        overflow: auto;
        height: 150px;
        margin-top: 15px;
    }

    img{
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
    .card{
        padding: 20px;
    }
}
</style>